@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@layer base {
  html {
    font-family: "Avenir";
    scroll-behavior: smooth;
    /* color: #e8dfb8; */
  }
  *::-webkit-scrollbar {
    display: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in forwards;
}
